.main-nav li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
.main-nav a:hover, a:focus {
    color: white;
    text-decoration: none;
}

.main-nav a, a:visited, a:active {
    color: darkgrey;
    text-decoration: none;
}

.register-form a, register-form a:visited, register-form a:active {
    color: black;
    text-decoration: none;
}

.login-form a, login-form a:visited, login-form a:active {
    color: black;
    text-decoration: none;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #353535;
    color: dimgrey;
}


.hidden {
    visibility: hidden;
}

.menu-side-bar {
    position: fixed;
    top: 50px;
    z-index: 2;
    background-color: #353535;
    width: 200px;
    height: 100vh;
}

@keyframes slide-in-trans {
    0% {
        left: -200px
    }

    100% {
        left: 0;
    }
}

.slide-in {
    animation: slide-in-trans .4s;
}

@keyframes slide-out-trans {
    0% {
        left: 0
    }

    100% {
        left: -200px;
    }
}

.slide-out {
    animation: slide-out-trans .4s linear;
    visibility: hidden;
    transition: visibility .4s;
}

.fade-out-half {
    animation: fade-out-half-trans .4s linear;
    visibility: hidden;
}


.fade-in-half {
    animation: fade-in-half-trans .4s linear;
}

@keyframes fade-in-half-trans {
    0% {
        opacity: 0
    }

    100% {
        opacity: 0.5;
    }
}

@keyframes fade-out-half-trans {
    0% {
        opacity: 0.5
    }

    100% {
        opacity: 0;
    }
}

.fade-in-short {
    animation: fade-in-full .3s linear;
}

.fade-out-short {
    animation: fade-out-full .3s linear;
}

@keyframes fade-out-full {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade-in-full {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}
    .menu-side-bar-bg {
    top: 50px;
    position: fixed;
    z-index: 1;
    opacity: 0.5;
    transition: opacity 2s;
    -webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -o-transition: opacity 2s;
    height: 100vh;
    width: 100vw;
    background-color: grey;
}

.side-bar-link {
    width: 100%;
    text-align: center;
}

body {
    padding-top: 50px;
}

.menu-icon {
    display: flex;
    float: left;
    padding: 15px;
    cursor: pointer;
}

.menu-icon img {
        position: fixed;
        z-index: 1;
        top: 15px;
        left: 15px;
        height: 20px;
    }

.menu-top:hover {
    opacity: 0;
    position: absolute;
}



.goal-display{

    width: 25%;
    height: 25%;
}

.goal-display img {
    width: 100%;
    height: 100%;
}

.register-input {
    margin: 0px 10px 10px 10px;
}

.password-status {
    float:right;
}

@media only screen and (min-width: 600px) {
    .register-container {
        width:550px;
    }
}

.password-container {
    position: relative;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 75px;
}

/* The actual popup */
    .password-container .password-tooltip {
        font-size: .9em;
        width: 160px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 8px 0;
        position: absolute;
        z-index: 1;
        top: 15%;
        left: 125%;
        margin-left: -80px;
        text-align: left;
        padding: 10px;
    }

/* Popup arrow */
        .password-container .password-tooltip::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 100%;
            margin-bottom: 5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent #555 transparent transparent;
        }

.icon-small{
    width: 15px;
    height: 15px;
}

.notification-circle {
    position: absolute;
    vertical-align: 50px;
    z-index: 2;
    border-radius: 50%;
    background: red;
    border: 1px solid white;
    color: white;
    top: 7px;
    right: 7px;
    text-align: center;
    font-size: 7pt;
    min-width: 15px;
    max-height: 16px;
    padding: 0px 1px 1px 1px;
}

.notification-number-container {
    display: inline-block;
    vertical-align: middle;
}

.notification-bell {
    width: 36px;
    height: 36px;
    margin: 7px;
}

.notification-bell-container {
    float: right;
    cursor: pointer;
    width: 50px;
}

.greeting-container {
    float: left;
    width:140px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.user-status {
    float: right;
    width: 250px;
    height: 50px;
    border: 1px solid black;
    color: darkgrey;
    text-align: center;
}

.notification-pane {
    background-color: red;
    width: 250px;
    height: 150px;
    position: absolute;
    z-index: 2;
    top: 50px;
    right: 0px;
    transition: opacity 2s;
    -webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -o-transition: opacity 2s;
}


